.faq {
	background-color: var(--white-color);

	&-container {
		display: flex;
		flex-direction: column;
		align-items: center;

		.faq-heading {
			font-size: 4.8rem;
			line-height: 120%;
			letter-spacing: -3px;
			font-weight: 500;
			margin: 0 auto 40px;
			text-align: center;
		}

		.faq-heading-media {
			display: none;
		}
	}

	&-btns {
		display: flex;
		justify-content: space-evenly;
		gap: 10px;
		background-color: var(--gray-color);
		padding: 10px;
		border-radius: 8px;
		margin-bottom: 100px;

		.faq-btn {
			padding: 5px 15px;
			background-color: var(--gray-color);
			border: none;
			border-radius: 8px;

			&:hover {
				@include mixins.blue-hover;
			}
		}
	}
	.faq-questions {
		display: flex;
		flex-direction: column;
		gap: 24px;
		max-width: 825px;
		padding: 0 20px 100px;
	}

	.faq-question {
		display: flex;
		justify-content: space-between;
		gap: 60px;

		h4 {
			font-size: 2rem;
			line-height: 150%;
			letter-spacing: -1px;
			font-weight: 500;
		}

		i {
			font-size: 20px;
		}

		i:hover {
			color: var(--blue-color);
			cursor: pointer;
			transition: color 0.2s linear;
		}
	}

	.faq-answer {
		display: flex;
		justify-content: flex-start;
		max-width: 90%;
	}

	.gray-line {
		background-color: #dedede;
		height: 0.1vh;
		border-radius: 15px;
	}
}

@media screen and (max-width: 580px) {}