.nav {
	display: flex;
	max-width: 1200px;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	padding: var(--section-padding);

	&-logo {
		padding: 20px 0;
	}

	&-list {
		display: flex;
		gap: 40px;
		align-items: center;
		list-style-type: none;
		padding: 20px 0;

		&-item {
			text-decoration: none;
			color: var(--black-color);
		}
	}

	&-list-item:hover {
		color: var(--blue-color);
		cursor: pointer;
		transition: color 0.2s linear;
	}

	&-log-in {
		background-color: var(--gray-color);
		padding: 10px 20px;
		border-radius: 10px;

		&:hover {
			background-color: var(--blue-color);
			color: var(--gray-color);
			cursor: pointer;
			transition: all 0.2s linear;
		}
	}
}

.nav-toggle-btn {
	display: none;
}

@media screen and (max-width: 580px) {
	.nav-toggle-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		background-color: var(--gray-color);
		border-radius: 12px;
		border: none;
		z-index: 1;
		.black-lines {
			display: flex;
			flex-direction: column;
			gap: 4px;
			.black-line {
				width: 20px;
				height: 2.5px;
				background-color: var(--black-color);
			}
		}
	}
	.nav {
		.nav-list {
			position: fixed;
			right: 0;
			top: 0;
			bottom: 0;
			flex-direction: column;
			background-color: var(--gray-color);
			padding: 100px 20px;
			transform: translateX(110%);
			transition: all 0.5s ease-in-out;

			&.open {
				transform: translateX(0);
			}
		}

		.log-in {
			background-color: var(--blue-color);
			color: #f5f5f5;
		}
	}
}
