.testimonials {
	background-color: var(--black-color);
	padding: 0 85px;
	h2 {
		color: var(--white-color);
		font-size: 4.8rem;
		line-height: 120%;
		letter-spacing: -1px;
		max-width: 60vw;
		padding-top: 96px;
		font-weight: 500;
	}

	.reviews.active {
		cursor: grabbing;
	}

	.reviews {
		display: flex;
		justify-content: flex-start;
		align-items: baseline;
		flex-wrap: nowrap;
		gap: 24px;
		padding-top: 65px;
		padding-bottom: 96px;
		overflow: auto;

		.testimonial {
			background-color: var(--gray-color);
			color: var(--black-color);
			border-radius: 16px;
			padding: 40px;
			line-height: 150%;
			min-width: 405px;
			min-height: 310px;
		}

		.review {
			font-style: italic;
			font-size: 2rem;
			margin-bottom: 48px;
		}

		.name {
			font-size: 1.8rem;
			font-weight: 600;
		}
	}

	.reviews::webkit-scrollbar {
		display: none;
	}
}

@media screen and (max-width: 580px) {
	.testimonials {
		padding: var(--section-padding);

		h2 {
			max-width: 80vw;
			font-size: 3.2rem;
			padding-top: 64px;
		}

		.reviews {
			flex-direction: column;
			flex-wrap: wrap;
			gap: 32px;

			.testimonial {
				min-width: unset;
				min-height: 208px;
			}

			.review {
				font-style: italic;
				font-size: 1.6rem;
				margin-bottom: 32px;
			}

			.name {
				font-size: 1.6rem;
			}
		}
	}
}
