.hero {
	max-width: 1200px;
	margin: 72px auto 100px;
	background-image: url(/images/background.png);
	background-size: contain;
	background-position: bottom center;
	background-repeat: no-repeat;
	padding: var(--section-padding) 300px;

	&-text {
		h1 {
			font-size: 6.4rem;
			max-width: 50vw;
			font-weight: 500;
			line-height: 110%;
			letter-spacing: -2px;
		}

		p {
			font-size: 2rem;
			line-height: 160%;
			max-width: 40vw;
			margin-top: 24px;
			margin-bottom: 40px;
		}
	}

	&-btns {
		display: flex;
		margin-top: 30px;
		max-width: 40vw;
		font-weight: 500;

		&-start {
			background-color: var(--blue-color);
			color: #fff;
			padding: 20px 40px;
			margin-right: 20px;
			border-radius: 10px;

			&:hover {
				@include gray-hover();
			}
		}

		&-demo {
			display: flex;
			gap: 7px;
			background-color: var(--gray-color);
			padding: 20px 40px;
			border-radius: 10px;

			&:hover {
				@include blue-hover();

				.hero-btns-demo-icon {
					filter: brightness(0) invert(1);
					transition: all 0.2s linear;
				}
			}
		}
	}
}
